.page-footer {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 951;
    padding: 40px;
}

.container-footer * {
    color: #ffffff !important;
}

footer h5 {
    margin-bottom: 30px !important;
}

.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 60%;
    margin: 0 auto;
    grid-gap: 50px;
}

.container-footer hr {
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    margin: auto;
}

.clinic-address {
    text-align: right;
}

.clinic-address img {
    margin-bottom: 15px;
}

.clinic-location {
    text-align: center;
}

.clinic-location iframe {
    width: 300px;
    border: none;
}

.social-media {
}

.social-media ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0;
    align-items: center;
}

.social-media ul li {
    display: inline;
    font-size: 20px;    
}

@media (max-width: 768px) {
    .page-footer {
        grid-row-start: 3;
        padding: 10px;
    }

    .container-footer {
        grid-template-columns: 1fr;
        width: 100%;
        margin: auto;
    }

    .clinic-address {
        text-align: center;
    }

    .social-media {
        text-align: center;
    }

    footer *{
        text-align: center !important;
    }
}