.clinic-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 951;
}

.dropdown-menu hr {
    border: 1px solid #5755A1;;
}

.dropdown-menu span {
    padding: 0 0 0 3.5em;
}
