@import "palette.css";
@import "style.css";

@import "sidebar.css";
@import "footer.css";
@import "error.css";

@import "home.css";
@import "gallery.css";
@import "scheduling.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800 |Work+Sans:400,600");

/*
        Default styles
 */
body {
    font-family: 'Work Sans', sans-serif;
    background: #FFFFFF;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.vjv-content {
    overflow-y: scroll;
    width: calc(100% - 15.075em);
    height: calc(100% - 4.795em);
    padding: 2.5em;
    max-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 2em;
    right: 0;
}

.hide-until {
    display: none;
}

@media (max-width: 768px) {
    .vjv-content {
        width: 100%;
    }

    .hide-until {
        display: flex !important;
    }
}

h1, h2, h3, h4, h5{
    color: #474380;
}
