@import "palette.css";

body {
    padding-top: 50px;
}

/*
    Navbar
 */
nav {
    z-index: 999;
}

nav li {
    text-decoration: none;
}

nav li:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 900;
    padding: 0;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 4em;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: inherit;
}

.sidebar span:hover {
    cursor: pointer;
    color: #bbb !important;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}


/*
    Footer
 */
.page-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999;
}
