@import "palette.css";
@import "style.css";

@import "header.css";
@import "sidebar.css";
@import "footer.css";
@import "error.css";

@import "home.css";
@import "gallery.css";
@import "scheduling.css";
@import "register.css";
@import "contact.css";

@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");

/*
        Default styles
 */
html, body {
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;    
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: #777;
    text-decoration: none;
    transition: all 0.3s;
}

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px auto 300px;
    width: 100%;
    height: 100%;
    /*position: relative;
    flex-direction: column;*/
    min-height: 100%;
}

.vjv-content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    transition: all 0.3s;
    /* width: 60%; */
    /* margin: 50px auto; */
    min-height: 90vh;
    height: 100%;
    background-color: #f2f4ff;
}

.hide-until {
    display: none;
}

@media (max-width: 768px) {
    .vjv-content {
        width: 100%;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 0;
        padding: 10px;
    }

    .hide-until {
        display: flex !important;
    }

    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto auto;
    }
}

h1, h2, h3, h4, h5{
    color: #474380;
}
