.background-liberty {
    background-color: #5755A1;
    color: rgba(255, 255, 250, 1);
}

.background-blue-green {
    background-color: #30d0c6;
    color: rgba(86, 86, 86, 1);
}

.background-slate {
    background-color: #5755A1;
    color: rgba(255, 255, 250, 1);
}

.background-coral {
    background-color: #fe854f;
    color: rgba(255, 255, 250, 1);
}

.background-bubbles {
    background-color: #eafaf9;
    color: rgba(43, 48, 58, 1);
}

.background-white {
    background-color: #fefefe;
    color: rgba(86, 86, 86, 1);
}
