.background-lazuli {
    background: rgba(51, 102, 153, 1);
    color: rgba(255, 255, 250, 1);
}

.background-davy {
    background: rgba(86, 86, 86, 1);
    color: rgba(255, 255, 250, 1);
}

.background-slate {
    background: rgba(47, 72, 88, 1);
    color: rgba(255, 255, 250, 1);
}

.background-gunmetal {
    background: rgba(43, 48, 58, 1);
    color: rgba(255, 255, 250, 1);
}

.background-powder {
    background: rgba(255, 255, 250, 1);
    color: rgba(43, 48, 58, 1);
}
