.scheduling-card{
    width: 70%;
    min-width: 300px;
    max-width: 750px;
}

.scheduling-form {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;
}

.scheduling-form hr {
    height: 1px;
    width: 100%;
}

.scheduling-form .btn-green {
    align-self: center;
}

label {
    margin: 0;
}

#spec-select {
    width: 100%;
}

select option {
    text-transform: capitalize !important
}

select {
    text-transform: capitalize !important
}

@media(max-width: 1150px) {
    .scheduling-form {
        grid-template-columns: 1fr !important;
    }
}