/*
        Sidebar
 */

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 15em;
    position: fixed;
    top: 50px;
    left: 0;
    height: 100vh;
    z-index: 950;
    box-shadow: -10px 0px 20px 10px #bbb;
    transition: all 0.3s;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #999999;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

.sidebar ul li a:hover {
    color: #435061;
    background: inherit;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: rgba(86, 86, 86, 1);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.active {
        margin-left: 0;
    }
    .content {
        width: 100%;
    }
    .content.active {
        width: calc(100% - 250px);
    }
    .sidebarCollapse span {
        display: none;
    }
}