@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,800 | Roboto |Work+Sans:400,600");


body {
    font-family: 'Work sans', sans-serif;
    color: #555;
    font-size: 14px !important;
}


.font-body {
    color: #474380;
    text-transform: none !important;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800 !important;
}


.title-section {
    border-bottom: 3px solid #aaa;
    text-transform: uppercase;
    font-weight: bold;
    color: #aaa;
    padding: 15px 0;
    margin: 15px 0;
    letter-spacing: 2px;
}


.btn{
    width: fit-content;
    color: white;
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
    text-transform: none;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    transition: 200ms;
    cursor: pointer;    
    font-size: 14px !important;
}

.btn:hover{
    opacity: 0.9;
}

.btn-orange{
    background: #fe854f;
}

.btn-green{
    background: #30d0c6;
}

.btn-purple{
    background: #474380;
}

.form-group{
    padding: 15px;
}

.form-group>*{
    display: block;
    margin: 8px;
}

.style-forms .body-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

input[type = text], input[type = email], input[type = password], input[type = number], input[type = date] {
    border: none;
    border-bottom: 1px solid #474380;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    padding: 2px;
}

body::-webkit-scrollbar {
    width: 10px;
}


body::-webkit-scrollbar-thumb {
    background-color: #474380;
}

body::-webkit-scrollbar-track{
    background-color: #eee;
}

textarea::-webkit-scrollbar {
    width: 5px;
}


textarea::-webkit-scrollbar-thumb {
    background-color: #474380;
}

textarea::-webkit-scrollbar-track{
    background-color: #eee;
}

*:focus {
    outline: none;
}

*::placeholder{
    font-style: italic;
}

label{
    font-weight: 800;
    font-size: 15px;
}

textarea{
    width: 80%;
    height: 100px;
    resize: none;
    border: 1px solid #474380;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    overflow: auto;
    border-radius: 3px;
}

select{
    width: 100%;
    height: 35px;
    resize: none;
    border: none;
    border: 1px solid #474380;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    border-radius: 3px;
}

fieldset{
    border: 1px solid #474380;
    border-radius: 3px;
}

fieldset label{
    font-weight: 400;
}

legend{
    font-weight: 600;
}
